[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
requests = "*"
unidecode = "*"
jsons = "*"
pillow = "*"
gunicorn = "*"
praw = "*"
spacy = {extras = ["en-core-web-sm"], version = "*"}

[requires]
python_version = "3.8"
